$primary   : #1976D2
$secondary : #26A69A
$accent    : #9C27B0
$border    : #407fbf

$dark      : #1D1D1D
$dark2     : #141e26
$dark0     : #000

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037

$typography-font-family: "Montserrat"